## 内置类型2
 - list
 - tuple
 - set
 - dict

In [1]:
# list
L1 = [1,2,3,4,5]
L3 = [2,3,"Hello","world!"]

In [2]:
L4 = list()
print(type(L4))

<class 'list'>

# list 操作
 - 下标操作，索引从0开始
 - 切片

In [4]:
print(L3[2])

Hello

In [8]:
# 切片
print(L3[0:3])

[2, 3, 'Hello']

In [13]:
LK1 = [1,2,3,4,5,6,7,8,9]
LK2 =  LK1[1:3]
print(id(LK1))
print(id(LK2))

1917353015112
1917353014536

In [14]:
print(LK1[:4])

[1, 2, 3, 4]

In [15]:
print(LK1[2:])

[3, 4, 5, 6, 7, 8, 9]

In [16]:
print(LK1[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
print(LK1[::1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
print(LK1[::2])

[1, 3, 5, 7, 9]

In [19]:
print(LK1[:100])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## tuple

In [20]:
ta = ()
print(type(ta))

<class 'tuple'>

In [21]:
tb = (100)
print(tb)

100

In [22]:
tc = (100,)
print(tc)

(100,)

In [23]:
td = (100,200,300)
print(td)

(100, 200, 300)

In [24]:
li = [1,2,3,"Hello"]
te = tuple(li)
print(te)

(1, 2, 3, 'Hello')

In [25]:
#索引
print(te[2])

3

In [26]:
print(te[:])

(1, 2, 3, 'Hello')

In [27]:
print(te[-1::-1])

('Hello', 3, 2, 1)

In [29]:
tf = (3,"qiao")
tg = te +tf
print(tg)

(1, 2, 3, 'Hello', 3, 'qiao')

In [30]:
print(tf*2)

(3, 'qiao', 3, 'qiao')

In [31]:
print("qiao" in tf)

True

In [32]:
print("kk" not in tf)

True

In [33]:
print(len(tf))

2

In [37]:
#print(max(tf))
K1 = (1,2,4)
print(max(K1))

4

In [41]:
print(K1.count(1))

1

# 集合
 - 无序，内容不重复

In [48]:
sa = set()
li = [1,2,3,4,1,2]
sb = set(li)
print(sb)

{1, 2, 3, 4}

In [49]:
sc = {1,2,3,4,5,6,2,1} #集合定义

In [50]:
print(sc)

{1, 2, 3, 4, 5, 6}

## 集合操作
 - in 
 - not in
 - 遍历 for

In [51]:
sd = {i for i in sc}
print(sd)

{1, 2, 3, 4, 5, 6}

In [52]:
se = {i for i in sc if i%2==0}

In [53]:
print(se)

{2, 4, 6}

In [55]:
sf = {i**2 for i in sc}

In [56]:
print(sf)

{1, 4, 36, 9, 16, 25}

In [57]:
print(len(sf))

6

In [59]:
print(sf.add(8))
print(sf)

None
{1, 4, 36, 8, 9, 16, 25}

In [60]:
sf.remove(4)
print(sf)

{1, 36, 8, 9, 16, 25}

In [62]:
sf.discard(4) # 要删除的元素不存在也不报错
print(sf)

{1, 36, 8, 9, 16, 25}

In [63]:
print(sf.pop())

1

In [65]:
#集合数学操作
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

print(s1.intersection(s2))

{4, 5, 6}

In [67]:
print(s1.difference(s2))

{1, 2, 3}

In [68]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}